.body-1
{
    margin-top: 70px;
    background-color: #E4E5E6;

}
.hd-class
{
    background-color: #FFFFFF;
}
.bd-class
{
    background-color:#F0F3F5;
}
.bt-class
{
    background-color: #30497C;
    color: white;
}